= content_for :page, "band"
%h1 The Band
%ul.list-unstyled
  %li
    %p.clearfix
      %h2 Amanda V - Vocals
      %img<>= image_tag('band/AV2.jpg', class: 'band-member')
      Amanda started singing and performing live at the age of 8 and has
      studied voice throughout her career, including studying jazz and opera
      in college. She is currently finishing her vocal performance degree at
      the University of Colorado at Denver.  Her early vocal influences were
      Ann Wilson, Pat Benetar, Gladys Knight, Diane Schurr and Patti LaBelle.
      She has been performing in the Denver metro area since 1991, with
      various bands such as The Miles Apart Band, Millennium, Boogie Machine,
      Naked Lunch, Pharaohs of Funk, and Hip Pocket.  She also enjoys
      freelancing with bands that need a last minute vocalist.
  %li
    %p.clearfix
      %h2 Michael Miller - Keyboards
      %img<>= image_tag('band/m11.jpg', class: 'band-member')
      Michael began playing the piano at the age of eight and never stopped including music in his life. He earned a BME in Music from Southwestern Oklahoma State University and took his talents into the Oklahoma school system where he educated students for our future entertainment. Michael had the privilege to work with world renowned Jazz artists such as Dianna Reeves, Clark Terry, Urbie Green, Michelle Becham and Steve Wilkerson. He continued on with his music career working with top Denver entertainment projects including, Rhythm Alliance, VIP, Backstreet, Mystery, Kan’t Get Right, Ripp Griffen & Bump City Groove.
  %li
    %p.clearfix
      %h2 David Madouros - Guitar
      %img<>= image_tag('band/d13.jpg', class: 'band-member')
      After graduating from Musician's Institute in 1994, David played in several successful bands in Southern California (Open Focus, Strange Dayz, Wire, Blendzol). During his tenure in SoCal, David's band played with well known acts including: L.A. Guns, Slaughter, Black and Blue, and Bang Tango as well as members from acts including: White Lion, Tesla, KISS, and Steel Panther. In 2005, David returned to his home state, Colorado, and went into semi-retirement until he received a call from an old friend in the spring of 2011. David came out of retirement and the rest is history...
  %li
    %p.clearfix
      %h2 James Dikes - Bass
      %img<>= image_tag('band/j12.jpg', class: 'band-member')
      As an accomplished artist, James has wheeled his unique style in the front range area for the past 15 years. Originally from California, James studied jazz theory at DeAnza College and worked in the blues scene with acts Little John Chrisley and Andy Mazilli. When James moved to Colorado, he hooked up with touring R & B rock group Mystery, hitting the road for 3 1/2 years. He studied under L.A. session player Ben Adkins, and has recorded and played shows with hard rock group Mudcrawl, and jazz/reggae/funk group Fina Dupa and worked "on call" for modern jazz groups Dotsero, the Brad Bietry Quartet, Mike Nelson and the Motel Kings, and Smokin' Joe and the Mighty Burners.
  %li
    %p.clearfix
      %h2 Rich Guess - Drums
      %img<>= image_tag('band/Rich1.jpg', class: 'band-member')
      After completing a Bachelors of Music in Percussion, it was decided that the thing to do was hit the road. Touring with the Midwest’s Deaconaires he played shows with the likes of The Fabulous Thunderbirds, Roomful of Blues, Johnny Reno, Little Charlie and the Nightcats, and countless regional bands. Now with a good sense of groove pounded into his hands and feet, he was ready to take on the rock and roll monster. Over the next two years, he was touring from sea to shining sea, playing 260 shows a year, logging his time in the drum seat, developing a style that blended the blues of the past with the edge of the new. Next was a 5-year stint in the Dallas area, where he recorded 2 albums with the band DVinity, always pushing to expand his musical range. Upon arrival in Denver, Rich joined the Freddi-Henchi Band in 1999. Bringing power and precision to the dynamic FHB groove, blending in all of the styles of the past, the groove to make your booty move was prominent throughout the land. If you listen closely, you will hear influences of Chris Layton, Vinnie Paul, Dave Weckl, Peter Criss, and every single music teacher he ever took lessons from, all mixed up into one package. Other notable acts in the area that Rich has performed with include Hazel Miller, Soul School, The Sheryl Renee Band, Mother Lode, and Hip Pocket.