%h1 Calendar
%table.table
  %tr
    %th
      Date
    %th
      Time
    %th
      City
    %th
      Venue
    %th
      &nbsp;
  %tr
    %td
      Aug 1st
    %td
      1:00pm
    %td
      Longmont
    %td
      Leftapalooza
    %td
      %a{href: '#'}
        Details
  %tr
    %td
      Aug 5th
    %td
      6:30pm
    %td
      Castle Rock
    %td
      Castle Rock Concert
    %td
      %a{href: '#'}
        Details
%a{href: '#'}
  Past Dates