= content_for :page, "contact"
%h1 Contact Us
%h2 Email Subscriptions or Comments
%p
  Drop us a line with any comments you may have or subscribe to our emailing list.
%h2 Booking Information
%p
  To book a performance for specific venues, including private parties and public events, please use the contact form provided below. We will get back with you as soon as possible! When requesting a quote please include the following:
%ul
  %li Venue Name & Zip Code
  %li Requested Date(s)
  %li Contact Phone #
%form
  %fieldset
    .form-group
      %label
        Reason
      %select.form-control
        %option Book the Band
        %option Comments
        %option Subscribe to Email Listing
        %option Unsubscribe from Email Listing
    .form-group
      %label First Name
      %input.form-control{type: 'text'}
    .form-group
      %label Last Name
      %input.form-control{type: 'text'}
    .form-group
      %label Email
      %input.form-control{type: 'text'}
    .form-group
      %label Comments
      %textarea.form-control{rows: 10}
    .btn.btn-primary
      Submit
    .btn.btn-default
      Reset