%h1 Journey Thru Time (Journey Tribute Band)
%h2 w/ Paradise Theater (Styx Tribute Band)

%h3 Friday, February 19, 2016
%ul
  %li
    %h4 7:30 - 9:00pm: Journey Thru Time
  %li
    %h4 9:30 - 11:00pm: Paradise Theater

%h3
  Cover
%p
  $10.00 Advanced / $12.00 Day of the show
%p
  Tickets available online at:
  %a(href="http://www.mcssl.com/store/10191914/february/journey-through-time-paradise-theater---feb-19-2016-730pm" target="_blank")http://www.mcssl.com/store/10191914/february/journey-through-time-paradise-theater---feb-19-2016-730pm

%h3
  Nissi's
%p
  2675 Northpark Drive
  %br
  Layfette, CO 80026
  %br
  303-665-2757
  %br
  %a(href="http://www.nissis.com" target="_blank")www.nissis.com
  %br
  %br
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.7821307499544!2d-105.13107738458835!3d40.01331387941398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876bf388ff454b69%3A0xdb4e84288d10120e!2s2675+Northpark+Dr%2C+Lafayette%2C+CO+80026!5e0!3m2!1sen!2sus!4v1454651292149" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
