= content_for :page, "media"

%h1 Media
%h2 Set List
%table
  %tr
    %td
      %ul
        %li After The Fall
        %li Any Way You Want It
        %li Anytime
        %li Ask The Lonely
        %li Be Good To Yourself
        %li Chain Reaction
        %li Don't Stop Believin'
        %li Edge Of The Blade
        %li Escape
        %li Faithfully
        %li Feelin' That Way
    %td
      %ul
        %li Girl Can't Help It
        %li I'll Be Alright Without You
        %li Just The Same Way
        %li Keep On Runnin'
        %li Lights
        %li Line of Fire
        %li Lovin', Touchin', Squeezin'
        %li Majestic
        %li Mother, Father
        %li Only the Young
    %td
      %ul
        %li Open Arms
        %li Send Her My Love
        %li Separate Ways
        %li Stay Awhile
        %li Still They Ride
        %li Stone In Love
        %li The Party's Over
        %li Wheel In The Sky
        %li Where Were You
        %li Who's Cryin' Now

%h2 Photos
%h3 Highlands Ranch Summer Concert Series
%h3 Parker Days
#parker-days.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-target" => "#parker-days", "data-slide-to" => "0"}

  .carousel-inner{"role" => "listbox"}
    .item.active
      %img{"src" => "http://www.eclipsetheband.biz/slides/ParkerDays.jpg"}

  %a.left.carousel-control{"href" => "#parker-days", "role" => "button", "data-slide" => "prev"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"href" => "#parker-days", "role" => "button", "data-slide" => "next"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
%h3 The Boulder Theater
#boulder-threater.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-target" => "#boulder-threater", "data-slide-to" => "0"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "1"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "2"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "3"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "4"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "5"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "6"}
    %li{"data-target" => "#boulder-threater", "data-slide-to" => "7"}

  .carousel-inner{"role" => "listbox"}
    .item.active
      %img{"src" => "http://www.eclipsetheband.biz/slides/M1.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/M2.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/DD3.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/DD5.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/J1.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/J2.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/B1.jpg"}
    .item
      %img{"src" => "http://www.eclipsetheband.biz/slides/B2.jpg"}

  %a.left.carousel-control{"href" => "#boulder-threater", "role" => "button", "data-slide" => "prev"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"href" => "#boulder-threater", "role" => "button", "data-slide" => "next"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next


%h3 Lakewood Summer Concert Series
%h3 Leftapalooza
%h3 Highlands Ranch 4th of July Celebration
%h3 The D-Note

%h2 Videos
%ul.list-inline
  %li.thumbnail
    <iframe width="420" height="315" src="https://www.youtube.com/embed/tHrnY4mporo" frameborder="0" allowfullscreen></iframe>
  %li.thumbnail
    <iframe width="420" height="315" src="https://www.youtube.com/embed/ha-AbNM79Nw" frameborder="0" allowfullscreen></iframe>
  %li.thumbnail
    <iframe width="420" height="315" src="https://www.youtube.com/embed/y4QpQNoMHls" frameborder="0" allowfullscreen></iframe>
