= content_for :page, "videos"

%h1 Videos
.row
  .col-md-6
    <iframe width="375" height="281" src="https://www.youtube.com/embed/Sq9jp_ujHeI" frameborder="0" allowfullscreen></iframe>
  .col-md-6
    <iframe width="375" height="281" src="https://www.youtube.com/embed/-QZZX-OLaEU" frameborder="0" allowfullscreen></iframe>
.row
  .col-md-6
    <iframe width="375" height="281" src="https://www.youtube.com/embed/z7sn8SjYsP8" frameborder="0" allowfullscreen></iframe>
  .col-md-6
    <iframe width="375" height="281" src="https://www.youtube.com/embed/XZY6MXQEbcE" frameborder="0" allowfullscreen></iframe>
.row
  .col-md-12.text-center
    %a{href: 'https://www.youtube.com/channel/UCX7W9IWZVxcT55Yel4WQqKQ/videos', target: 'new'}
      See more videos
