.panel.panel-primary
  .panel-heading
    Check This Out!
  .panel-body
    %a{href: 'http://www.kunc.org/post/musicians-say-go-ahead-judge-tribute-band-its-cover#stream/0', target: 'new'}
      An interview with our very own
      %strong Amanda V!
      %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}