.panel.panel-default
  .panel-heading
    Want more
    %span
      %strong.text-uppercase<>
        = t('band.name.plain')
      ?
  .panel-body
    Book
    %strong.text-uppercase= t('band.name.plain')
    for your next concert, corporate event, festival, private party, or club
    now!
    %br
    %br
    %a.btn.btn-default{href: contact_path, role: 'button'}
      Learn More