.social-media.clearfix
  %ul.list-inline.pull-right
    %li
      %a{href: 'https://www.facebook.com/journeythrutime', target: 'new'}
        %img= image_tag('social_media/facebook.png', class: 'img-social-media')
    %li
      %a{href: 'https://twitter.com/JourneyThrTime', target: 'new'}
        %img= image_tag('social_media/twitter.png', class: 'img-social-media')
    %li
      %a{href: 'https://www.youtube.com/channel/UCX7W9IWZVxcT55Yel4WQqKQ', target: 'new'}
        %img= image_tag('social_media/youtube.png', class: 'img-social-media')
    %li
      %a{href: 'https://plus.google.com/101369682168368969718/posts', target: 'new'}
        %img= image_tag('social_media/google_plus.png', class: 'img-social-media')