.row.footer
  %hr
    %small.disclaimer.text-left
      %span= t('band.name.plain')
      is a Journey tribute band and is not sponsored, endorsed, or affiliated
      with Journey, or its current or former members.  Product names, logos,
      brands, and other trademarks featured or referred to within
      this site remain property of their respective trademark holders
      and are used solely for descriptive or identification purposes.
  %hr
  .col-md-12.text-center
    &copy;
    %span= Time.now.year
    &nbsp;
    %span<>
      = t('band.name.plain')
    \. All rights reserved.