.row.header.text-center
  .col-med-12
    %a{href: root_path}
      %img= image_tag('band_logo.jpg', width: '1170', height: '200')
.row
  .navbar.navbar-default
    %ul.nav.navbar-nav
      %li{class: (yield(:page) == 'home' ? 'active' : '')}
        %a{href: root_path}
          Home
      %li{class: (yield(:page) == 'band' ? 'active' : '')}
        %a{href: band_path}
          The Band
      %li{class: (yield(:page) == 'media' ? 'active' : '')}
        %a{href: media_path}
          Media
      %li{class: (yield(:page) == 'shows' ? 'active' : '')}
        %a{href: shows_path}
          Shows
      %li{class: (yield(:page) == 'contact' ? 'active' : '')}
        %a{href: contact_path}
          Contact Us
      %li
        %a{href: 'http://www.cafepress.com/eclipsethemusicofjourney', target: 'new'}
          Merchandise
          %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}
      %li{class: (yield(:page) == 'press_kit' ? 'active' : '')}
        %a
          Press Kit
      %li
        .navbar-text
          |
      %li{class: (yield(:page) == 'story' ? 'active' : '')}
        %a{href: story_path}
          Journey: The Story
      %li{class: (yield(:page) == 'music' ? 'active' : '')}
        %a{href: billboard_path}
          Journey: The Music
      %li
        %a{href: 'http://www.journeymusic.com'}
          Journey: Website
          %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}