#journey.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Journey (1975)
      .modal-body
        %p
          Journey's self-titled debut album, Journey, was released in 1975 on
          the Columbia Records label. Unlike their later recordings, the debut
          release is a progressive rock album, in the jazz-fusion vein. It is
          the only album to include guitarist George Tickner among their
          personnel. This lineup of Journey showcased their considerable talent
          as musicians on jazz-flavored mix, progressive rock epics like "Of a
          Lifetime", "Kohoutek", "Mystery Mountain", and "Topaz".

#lookintothefuture.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Look into the Future (January 1976)
      .modal-body
        %p
          Journey's second album, Look into the Future, was released in January
          of 1976 on the Columbia Records label. For their second album, the
          members of Journey toned down the overt progressiveness of their
          first, self-titled release, in favor of a more focused, commercial
          approach. Despite that, Look Into the Future still retains some of
          the experimental approach and sound of the debut, especially in the
          title track and "I'm Gonna Leave You". Guitarist George Tickner had
          left the band, leaving members Greg Rolie (lead vocals/keyboards),
          Neal Schon (guitar), Ross Valory (bass), and Aynsley Dunbar (drums).

#next.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Next (February 1977)
      .modal-body
        %p
          Journey's third album, Next, was released in 1977 (see 1977 in music).
          Journey continued the formula from 1976's "Look into the Future" but
          this album retains much of Journey's jazz-flavored progressiveness
          from the first album. Songs include the opening, moody number,
          "Spaceman", as well as standout rocker "Hustler", the odd timing
          instrumental "Nickel And Dime", and the epic "I Would Find You".
          The instrumental entitled "Cookie Duster" was listed in very early
          pressings of the album, though not actually included on the pressings,
          and then not listed on the cover art at all. Many fans feel this song
          is one of their best instrumentals and should have been included. It
          was later released on their
          %span
            Time
            %span.superscript<> 3
          compilation.

#infinity.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Infinity (May 1978)
      .modal-body
        %p
          Journey's fourth album, Infinity, was released in January of 1978 on
          the Columbia Records label. Looking for a stronger lead vocalist,
          Journey briefly enlisted front man Robert Fleischman and even recorded
          one track, "For You", which would later appear on the
          %span
            Time
            %span.superscript<> 3
          collection. Fleischman was soon replaced by Steve Perry. Perry and
          Neal Schon penned their first song together, "Patiently", which would
          appear on the new studio album. Other popular singles include "Lights"
          and "Wheel in the Sky", the latter written by temporary front man
          Fleischman. Journey's manager, Herbie Herbert, enlisted producer Roy
          Thomas Baker to engineer Infinity. This produced a layered sound
          approach, similar to his work with Queen, as demonstrated on tracks
          such as "Winds of March". The addition of Perry solidified their more
          mainstream sound and helped Journey attain their highest chart success
          to date. Infinity also marked the last appearance of drummer Aynsley
          Dunbar as a member of the band &mdash; he left to join Jefferson
          Starship.

#evolution.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Evolution (1979)
      .modal-body
        %p
          Evolution, is the name of Journey's fifth studio album. It was
          released in April of 1979 on the Columbia Records label. The album
          was their highest charting album to date. They retained Roy Thomas
          Baker as producer but drummer Aynsley Dunbar was replacing with Steve
          Smith, formerly with Ronnie Montrose's band. Evolution features their
          first top 20 hit, "Lovin', Touchin', Squeezin'". "Just the Same Way"
          featured original lead vocalist Gregg Rolie in place of Steve Perry.

#departure.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Departure (1980)
      .modal-body
        %p
          Departure is the name of Journey's sixth album. It was released in
          March of 1980 on the Columbia Records label. Departure would be the
          band's highest charting album to date, giving Journey their first
          appearance in the top 10 of the Billboard album charts. The album
          includes "Any Way You Want It", the lead off track and top 25 single.
          The album would mark the last studio appearance of founding member
          Gregg Rolie. He tired of life on the road and decided to resign his
          position in the band. However, he did assist in selecting his
          replacement, Jonathan Cain, then of The Babys.

#dreamafterdream.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Dream After Dream (1980)
      .modal-body
        %p
          Dream After Dream, performed by American rock group Journey, is the
          soundtrack to the Japanese film of the same title. It was released in
          1980 on the Columbia Records label. The soundtrack consists mostly of
          instrumental tracks with sparse vocals on two tracks, "Destiny" and
          "Sand Castles". The closing song, "Little Girl" is the only true
          vocal track. It was later featured on Journey's
          %span
            Time
            %span.superscript<> 3
          collection.

#escape.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Escape (1981)
      .modal-body
        %p
          Journey's seventh studio album (and eighth overall), Escape, was
          released in July 1981. Escape was the band's first album with new
          keyboardist Jonathan Cain who had replaced founding keyboardist
          Gregg Rolie who had left the band at the end of 1980. The album was
          co-produced by Kevin Elson and one-time Queen engineer Mike Stone,
          who also engineered the album. With three hit singles out of
          "Don't Stop Believin'", "Who's Crying Now" and "Open Arms" plus rock
          radio staples like "Stone in Love" and the album's title cut, Escape
          became Journey's biggest selling album yet, and remains one of their
          most popular and best-reviewed works to date.

#frontiers.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Frontiers (1983)
      .modal-body
        %p
          Frontiers, Journey's eighth album, was released in February of 1983 on
          the Columbia Records label. The album would garner four top 40
          singles: "After the Fall" (#23), "Send Her My Love" (#23),
          "Faithfully" (#12), and "Separate Ways" (#8), and a rock radio hit
          in "Chain Reaction." All of the first five tracks (the album's first
          side) had videos created for them. Arguably the album would have been
          an even bigger success had it not been for the last minute decision by
          Michael Dilbeck, the band’s longtime A&R man, to switch two tracks;
          he put "Back Talk" and "Troubled Child" in, and took out "Ask the
          Lonely" and "Only the Young." Jonathan Cain had more input on this
          album; not only did he once again help co-write all the tracks, he was
          the main pen behind "Faithfully", and there is more emphasis on
          keyboards.

#raisedonradio.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Raised on Radio (1986)
      .modal-body
        %p
          Journey's ninth album, Raised on Radio, was released in May of 1986 on
          the Columbia Records label. Following their two most successful
          albums, lead singer Steve Perry decided to take more control over the
          band's direction. First, Ross Valory and Steve Smith were fired from
          the band, against the wishes of manager Herbie Herbert. The two were
          replaced by various studio musicians for the recording of
          Raised on Radio, including Randy Jackson (bass) and Larrie Londin
          (drums). Smith did record two tracks with Journey on the album, and
          he and Valory still received revenues from the record and subsequent
          tour. Both returned to Journey in 1996.

#trialbyfire.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Trial by Fire (1996)
      .modal-body
        %p
          Trial By Fire, released in 1996, saw Journey reunite with their most
          successful Escape-era line-up after a ten-year hiatus. The CD reached
          Number 3 on the charts with the single When You Love A Woman reaching
          Number 1 on the AC charts. The band also released Message Of Love and
          If He Should Break Your Heart.

#arrival.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Arrival (2001)
      .modal-body
        %p
          Arrival was released in 2000. It was Journey's first studio album with
          new lead singer Steve Augeri, who had replaced singer Steve Perry.
          Journey also had a new drummer, Deen Castronovo, for this record. The
          album was originally first released in Japan in late 2000, but due to
          its leakage onto the Internet, the band decided to delay its release
          in the United States. Due to feedback from fans who heard the leaked
          version of Arrival, the band decided to record two harder rocking
          songs, which were included on the American version of the album.
          Arrival produced a minor adult contemporary hit with the ballad
          "All the Way", while rock fans were more satisfied with songs like
          "Higher Place" and the two new tracks on the American release,
          "World Gone Wild" and "Nothin' Comes Close".

#red13.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Red 13 EP (2002)
      .modal-body
        %p
          Red 13 is an experimental EP recorded by the band as a thank you to
          their fans for standing by Journey. 4 songs that range from a slight
          return to their progressive roots, a bluesy hard rocker, a cinematic
          ballad with a dark side and their trademark melodic rock. The band
          released this EP on to their website and later, with cover art created
          by one of their fans, worldwide.

#generation.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Generations (2005)
      .modal-body
        %p
          Generations was Journey's second full studio album with lead singer
          Steve Augeri and drummer Deen Castronovo. This is the same line-up as
          the last two releases, 2001's Arrival and 2002's Red 13 EP. The album
          was given away for free by the band during most of the concerts of
          the Generations tour in 2005, and subsequently released on Sanctuary
          Records later the same year. This was the first Journey album where
          all of the band members share the lead vocalist duties. Jonathan Cain
          sings lead on "Every Generation", the first time he sang lead since
          "All That Really Matters" (a song originally left off Frontiers)
          from the
          %span
            Time
            %span.superscript<> 3
          box set. Deen Castronovo sings lead on "A Better Life" and "Never Too
          Late". Neal Schon provides lead vocals for "In Self Defense" and Ross
          Valory gives his rough vocals to "Gone Crazy".

#revelation.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Revelation (2008)
      .modal-body
        %p
          A new chapter in the legendary career of multi-Platinum rockers
          Journey begins with the highly anticipated release of Revelation,
          a three-disc CD and DVD package. Order your copy today exclusively
          through the official online store for Journey.
        %p
          Revelation's first disc contains 11 brand new songs written by Neal
          Schon and Jonathan Cain. The second disc contains 11 re-recorded
          classic tracks. The third disc is a live DVD from the March 6, 2008
          Las Vegas concert marking the first U.S. public appearance of
          Journey's current lineup.

#eclipse.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Eclipse (2011)
      .modal-body
        %p
          Journey has unleashed their latest album of brand new material,
          Eclipse. The album features 12 tracks written by the core Journey
          songwriting team of Neal Schon and Jonathan Cain. 2 songs are
          co-written by Arnel Pineda.

#captured.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Captured (1981)
      .modal-body
        %p
          Captured is the title of Journey's first live album. Recorded during
          their "Departure" tour, it was released in February of 1981 on the
          Columbia Records label.

#greatesthitslive.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Greatest Hits Live (March 24, 1998)
      .modal-body
        %p
          Greatest Hits Live is a CD released by the rock band Journey in 1998.
          It is a compilation of live performances spanning from 1981 to 1983
          featuring former singer Steve Perry.

#liveinhouston.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Live in Houston (2005)
      .modal-body
        %p
          Journey's third live album and second concert DVD, Live In Houston
          1981: The Escape Tour, was released in November 2005 as a CD/DVD
          package and in May 2006 as a separate CD and separate DVD on the
          Columbia Records label.
        %p
          Recorded and filmed on Journey's "Escape" tour in November of 1981 at
          the Houston Summit in Houston, Texas, "Live In Houston 1981" captures
          the band at the height of their commercial success.
        %p
          The concert was first filmed and recorded as a concert for the
          then-fledgling MTV network. Hits such as "Lights",
          "Lovin', Touchin', Squeezin'", "Wheel in the Sky", and
          "Any Way You Want It" are in evidence plus tracks from the band's
          then-current album "Escape" like its title cut, "Open Arms",
          "Who's Cryin' Now" and "Don't Stop Believin'" .
        %p
          Closing the CD version of the concert is the track,
          "Party's Over (Hopelessly in Love)" which was not on the DVD. Instead
          the DVD has bonus interviews with the band from 1981 and 1982 plus an
          album advertisement for Escape.
        %p
          Footage from this DVD is used in the infomercial for the Time-Life
          Ultimate Rock Ballads CD set.

#greatesthits1.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Greatest Hits (1998)
      .modal-body
        %p
          Greatest Hits is the first compilation album by the rock and roll band
          Journey, released on November 15, 1988. The compilation is the band's
          biggest-selling CD/Album to date, selling over 14 million copies as of
          2006.

#greatesthits2.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Greatest Hits 2 (November 1, 2011)
      .modal-body
        %p
          From 1978 through 1988, Journey was undisputedly one of the most
          popular and successful bands in the US. Their original studio albums
          were massive sellers, with more than 30 singles reaching Billboard's
          Top 100 charts. Journey's success grew with each release, selling out
          stadiums across the U.S., and for all intents and purposes inventing
          the AOR radio format (Album Oriented Rock). During the bands'
          1987-1995 hiatus, the Greatest Hits album was issued, surveying 15
          tracks from the bands 7 albums.
        %p
          Over the years, Journey's music has been used in films and recently
          in several high profile TV shows (particularly the song
          "Don't Stop Believin'"). Now 16x Platinum in the U.S., Journey's
          Greatest Hits has taken on a life of its own, garnering new fans who
          have discovered the band through shows like Glee, Family Guy,
          The Sopranos and American Idol. But as successful as Greatest Hits is,
          it's only a part of the Journey story.
        %p
          Several Top 40 and Top 20 singles were not included, as well as songs
          near and dear to principal songwriters Steve Perry, Neal Schon and
          Jonathan Cain. For those who love the Greatest Hits and want more,
          Columbia/Legacy is proud to release Greatest Hits Volume 2.

#time3.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          %span
            Time
            %span.superscript<>
              3
          (1992)
      .modal-body
        %p
          %span
            Time
            %span.superscript<> 3
          , or Time Cubed, is a box set for the American rock-pop band Journey.
          It includes three CDs that go in chronological order through the
          "time", from 1975-to-1992, of the "journey". It includes both studio
          and live tracks. The box includes a 63-page booklet, with a detailed
          history of the band and bio on each song included.

#essential.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          The Essential Journey (2001)
      .modal-body
        %p
          The Essential Journey is a compilation of songs from the rock band
          Journey. Released on October 16, 2001, it is part Sony BMG's
          "Essential" series of compilation albums.

#arrival2001.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Arrival 2001 (December 18, 2001)
      .modal-body
        %p
          Returning to the stage in 1998 with a new lineup featuring founding
          members Neal Schon on guitar, Ross Valory on bass, and longtime member
          Jonathan Cain on keyboards, the band is joined by Steve Augeri on lead
          vocals and Deen Castronovo on drums. The group rocks with classic
          performances of their greatest hits and new songs from their 2001 CD
          Arrival. Filmed in December 2000 in Las Vegas, the band roars back
          onto the stage. Songs include: Separate Ways (Worlds Apart),
          Ask the Lonely, guitar solo, Stone in Love, Higher Place,
          Send Her My Love, Lights, Who's Crying Now, piano solo, Open Arms,
          Fillmore Boogie, All the Way, Escape, La Raza Del Sol (intro),
          La Raza Del Sol, Wheel in the Sky, Be Good to Yourself,
          Any Way You Want It, Don't Stop Believin', Lovin' Touchin' Squeezin',
          Faithfully.

#liveinmaniladvd.modal.fade.in{'tabindex' => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title
          Live in Manilla (2009)
      .modal-body
        %p
          Live In Manila captures Journey's historic concert in Manila,
          Philippines from March 14, 2009. Performing more than two hours worth
          of classic favorites, as well as new hits from the band's latest
          album, Revelation, Live In Manila documents the triumphant homecoming
          of the band's singer Arnel Pineda.
