.social-media.clearfix
  %ul.list-inline.pull-right
    %li
      %img= image_tag('facebook.png', class: 'img-social-media')
    %li
      %img= image_tag('twitter.png', class: 'img-social-media')
    %li
      %img= image_tag('youtube.png', class: 'img-social-media')
    %li
    %img= image_tag('myspace.png', class: 'img-social-media')
.panel.panel-info
  .panel-heading
    %strong Next Show
  .panel-body
    Saturday, August 1, 2015 (1:00pm - 1:45pm)
    %br
    %strong Leftapalooza (Left Hand Brewery Co)
    %br
    1265 Boston Ave, Longmont, CO 80501
    %br
    %br
    %a.btn.btn-info
      Details