%tr
  %td
    =show.date
  - unless past
    %td
      =show.time
  %td
    =show.venue.city
  %td
    =show.name
  - unless past || show.private_party?
    %td
      != link_to("Details", details_show_path(show))
