= content_for :page, "shows"
%h1 Calendar
%h2 Upcoming Dates
%table.table
  %thead
    %tr
      %th
        Date
      %th
        Time
      %th
        City
      %th
        Venue
      %th
        &nbsp;
  %tbody
    - if @shows.empty?
      %tr
        %td{colspan: 5}
          No Shows Scheduled
    - else
      - @shows.each do |show|
        = render 'show', show: show, past: false
%a.past-dates{href: '#'}
  Past Dates

#past-shows-region.is-hidden
  %h2 Past Dates
  %table.table
    %thead
      %tr
        %th
          Date
        %th
          City
        %th
          Venue
    %tbody
      - @past.each do |show|
        = render 'show', show:  show, past: true